$dark:rgb(29, 34, 40);
$light:rgb(225, 226, 226);
$hover:#F37E00;
$ldark:rgba(5, 8, 48, 0.8);

.about{
    padding: 0;
    margin: 0;
    .info{
        padding: 5vh 10% ;
        background-image: url('../nuts.jpg');
        box-shadow: inset 0  0 0 1000px $ldark;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $light;
        font-size: larger;
        h2{
            color: $hover;
            width: 40vw;
            text-align: center;
            font-size:4vw;
            // margin: 0;
        }
        p{
            width: 40vw;
        }
        ul{
            width: 40vw;
            margin: 0;
            list-style:circle;
        }
    }
}

.objectives{
    padding: 5vh 10vw;
    background-color: $light;
    color: $hover;
    display: grid;
    row-gap: 5vh;
    column-gap: 3vw;
    // grid-template-rows: 2;
    text-align: center;
    grid-template-columns: auto auto auto;
    div{
    svg{
        width: 180px;
        height: 180px;
        background-color: $dark;
        color: $hover;
        padding: 30px;
        border-radius: 50%;
    }
    p{
        font-size:  x-large;
        padding-top: 10px;
        font-weight: 500;
    }
}
}